body {
    margin : 0;
    font-family: arial, sans-serif;
}
header {
    background-color: #04067d;
    color: white;   
    padding: 20px;
}
header img {
    height: 90px;
}
nav {
    display: flex;
    background-color: #333;
    padding: 10px;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
main section {
    width: 70%;
    padding: 20px;
}

aside {
    width: 30%;
    background-color: #f5f5f5;
    padding: 20px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
